/* Main.css */
.main {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow-y: hidden;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
}

.main-container {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto; 
}

.navbar {
  background-color: #2c2c2c;
}

.greet {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.greet span {
  background: linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading img {
  width: 200px; 
}

.main-bottom {
  background-color: #2c2c2c;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.search-box input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.search-box img {
  width: 30px;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #2c2c2c;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}

.upload-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  filter: drop-shadow(0 0 3px #fff);
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  gap: 8px; 
  overflow-y: hidden;
  height: 350px;
}

.message-bubble {
  width: 100%;
  background-color: rgba(33, 33, 33, .9);
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(17, 17, 217, 0.518);
  /* line-height: 1.6;  */
  animation: fadeIn 0.3s ease; 
  font-size: large;
}

.user-message {
  font-size: large;
  padding: 10px 25px;

  align-self: flex-end; 
}

.user-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: #faf4f4;
}

.user-input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.user-input img {
  width: 30px;
}

.result-text {
  margin: 0;
  white-space: pre-wrap; 
}


.copy-icon {
  font-size: 1.2rem;
  color: #fafafa;
  transition: color 0.3s;
}

.copy-icon:hover {
  color: #0056b3;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





/* HTML: <div class="loader"></div> */
.loader {
  position: absolute;
  top : 50%; left: 50%;
  width: 100px;
  aspect-ratio: 1;
   --c: linear-gradient(#210af4 0 0);
   --m: radial-gradient(farthest-side,#f40606 92%,#dc1c1ce6);
  background: 
    var(--c),var(--m),
    var(--c),var(--m), 
    var(--c),var(--m);
  background-size: 8px 12px,8px 8px;
  background-repeat: no-repeat;
  animation: l16 1s infinite linear alternate;
}
@keyframes l16 {
  0%,5%   {background-position: 0 50%             ,0 0               ,50% 50%             ,50% 0               ,100% 50%             ,100% 0}
  16.67%  {background-position: 0 50%             ,0 calc(50% - 10px),50% 50%             ,50% 0               ,100% 50%             ,100% 0}
  33.33%  {background-position: 0 calc(50% + 10px),0 50%             ,50% 50%             ,50% 0               ,100% 50%             ,100% 0}
  50%     {background-position: 0 calc(50% + 10px),0 50%             ,50% 50%             ,50% calc(50% - 10px),100% 50%             ,100% 0}
  66.67%  {background-position: 0 calc(50% + 10px),0 50%             ,50% calc(50% + 10px),50% 50%             ,100% 50%             ,100% 0}
  83.33%  {background-position: 0 calc(50% + 10px),0 50%             ,50% calc(50% + 10px),50% 50%             ,100% 50%             ,100% calc(50% - 10px)}
  95%,100%{background-position: 0 calc(50% + 10px),0 50%             ,50% calc(50% + 10px),50% 50%             ,100% calc(50% + 10px),100% 50%}
}